.secondary-info a {display:block;transition: .5s;}
.secondary-info a:hover {
    transform: translateX(15px);
    text-decoration: none;
}

small.copyright:hover {
    color: #58677c;
}

.resume-skill-item span:hover {
    color: #fff;
    background-color: #328998;
}

#portfolio li {display:block;transition: .5s;}
#portfolio li:hover {
    transform: translateX(15px);
    text-decoration: none;
}